body {
    background-color:rgb(229, 229, 182);
    font-family: 'Roboto Mono', monospace;
}
h1 {
    margin: 10px 20%;
}
ul {
    list-style: none;
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 100%;
}

#poem-box {
    margin: 0 33%;
}

button {
    width: 300px;
    margin: 20px 25%;
    font-family: 'Roboto Mono', monospace;
}

.instructions {
    color: darkslategrey;
    font-size: 1rem;
    margin: 20px 40%;
}

@media screen and (max-width: 1024px) {
   #poem-box {
     width: 100%;
margin: 0;
    }
    .instructions {
        font-size: .8rem;
        margin: 20px ;
    }
    h1 {
        margin: 0;
        font-size: 1rem;
    }
    ul {
        font-size: .8rem;
        line-height: 1rem;
        padding-left: 0;
    }
    button {
        margin: 20px 5%;
    }
    #where-to-find {
        font-size: .8rem;
    }
  }