* {
  margin: 0 0;
}
body {
  background-color: white;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Nanum Myeongjo', serif; */
  /* font-family: 'Cormorant', serif; */
  font-family: "IM Fell DW Pica", serif;
}
#bound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
    margin-top: 1rem;
}

#poem-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sonnet {
  list-style: none;
  font-size: 1.7rem;
  line-height: 2.2rem;
  width: 100%;
}
.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.line-count {
    font-size: .8em;
    width: 70px;
    opacity: 0;
    /* display: none; */
}
#sonnet .line:nth-child(5) .line-count, #sonnet .line:nth-child(10) .line-count  {
    opacity: 100%;
}

#sonnet .line:nth-child(1), #sonnet .line:nth-child(5), #sonnet .line:nth-child(9), #sonnet .line:nth-child(13) {
    margin-top: 1.6rem;
}

.line-text {
    flex-grow: 2;
}

.source-info {
    font-size: .6em;
}

button {
  width: 250px;

  font-family: "IM Fell DW Pica", serif;
  font-size: 1.4rem;

  border: none;
  background-color: black;
  color: white;

  margin-top: 4rem;
  padding: 13px 10px;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

button:hover {
  background-color: rgb(68, 68, 68);
}

#where-to-find {
    margin-top: 30px;
    
}


@media screen and (max-width: 1024px) {
    #sonnet{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .source-info {
        flex-grow: 2;
    }
    .line-count {
        width: 20px;
    }
}
